@model Villancicos.Models.Villancico
@{
    Layout = "AdminLayout";
}
<script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

<script>
	tinymce.init({
		selector: 'textarea',
		language:'es_MX',
		toolbar: 'undo redo | cut copy paste | bold italic | alignleft aligncenter alignright alignjustify | outdent indent'
	});
</script>


<section>

<form method="post" action="~/Admin/Villancicos/Agregar">   
	<div class="caption">
		<h2>Agregar villancico</h2>
	</div>
	<label>Nombre:</label>
	<input type="text" name="Nombre" value="@Model.Nombre" />
	<label>Compositor:</label>
	<input type="text" name="Compositor" value="@Model.Compositor" />
	<label>Año:</label>
	<input type="number" maxlength="4" name="Anyo" value="@Model.Anyo" />
	<label>Letra:</label>
		<textarea rows="10" name="Letra">@Model.Letra</textarea>
	<label>Video (URL):</label>
		<input type="url" name="VideoURL" value="@Model.VideoUrl" />

	@Html.ValidationSummary(true)

	<div class="botones">
		<input type="submit" value="Agregar" />
		<a href="~/Admin">Cancelar</a>
	</div>

</form>

</section>
